<div>
  
    <div class="cont">
      <div class="form-group">
        <label for="request-type">Request Type:</label>
        <select id="request-type" [(ngModel)]="selectedRequestType">
          <option value="GET">GET</option>
          <option value="POST">POST</option>
          <option value="PUT">PUT</option>
          <option value="DELETE">DELETE</option>
        </select>
      </div>
    
      <div class="form-group">
        <label for="endpoint">Endpoint:</label>
        <input id="endpoint" type="text" [(ngModel)]="endpoint" placeholder="Enter HTTP Endpoint">
      </div>
    </div>

    <div class="parma">
      <div class="form-group">
        <label for="params">Query Params:</label>
        <div class="param-groups">
          <div *ngFor="let param of queryParams; let i = index" class="param-group">
            <input type="text" [(ngModel)]="param.key" placeholder="Key" class="param-key">
            <input type="text" [(ngModel)]="param.value" placeholder="Value" class="param-value">
            <button (click)="removeParam(i)">Remove</button>
          </div>
        </div>
        <button (click)="addParam()">Add Param</button>
      </div>
    </div>
    
    
    
  
    <button (click)="sendRequest()">Send Request</button>
  
    <div class="response">
      <h3>Response:</h3>
      <pre>{{ response }}</pre>
    </div>
  </div>
  